# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

jobs:
- job: 'build'
  displayName: 'Build'
  strategy:
    matrix:
      linux:
        imageName: 'Ubuntu-16.04'
  pool:
    vmImage: $(imageName)
  variables:
    LOG_LEVEL: debug
  steps:
  - task: NodeTool@0
    displayName: 'Install node'
    inputs:
      versionSpec: '10.x'

  - script: |
      npm ci
    displayName: 'Install packages'

  - script: |
      npm run build-client
    displayName: 'Build'

- job: 'test'
  displayName: 'Test'
  dependsOn: 'build'
  strategy:
    matrix:
      linux:
        imageName: 'Ubuntu-16.04'
      mac:
        imageName: 'macOS-10.13'
      windows:
        imageName: 'win1803'
  pool:
    vmImage: $(imageName)
  variables:
    LOG_LEVEL: debug
  steps:
  - script: |
      npm run test
    displayName: 'Test'

  - powershell: |
      npm run test-integration-win
    condition: eq( variables['Agent.OS'], 'Windows_NT' )
    displayName: 'Test Integration Windows'

  - script: |
      npm run test-integration
    condition: ne( variables['Agent.OS'], 'Windows_NT' )
    displayName: 'Test Integration'
